# üõí Mini Store Inventory - Basic SQL Queries

This notebook contains basic SQL queries to explore the `Products` and `Categories` tables in the `Project1_Inventory` database.

‚úÖ **Topics covered:**
- SELECT basics
- JOIN queries
- Filtering with WHERE
- Aggregates (SUM, COUNT, AVG)
- Sorting and limits

---
üìå Perfect for beginners learning SQL through real-world inventory data!

## üîç Query 1: View all categories

In [4]:
USE InventoryDB

In [5]:
SELECT * FROM Categories;

CategoryID,CategoryName
1,Electronics
2,Groceries
3,Stationery

## üîç Query 2: View all products

In [6]:
SELECT * FROM Products;

ProductID,ProductName,Price,Quantity,CategoryID
101,Laptop,1200.00,5,1
102,Smartphone,850.00,8,1
103,LED Bulb,2.50,100,2
104,Rice (5kg),15.00,20,2
105,Milk Pack,1.20,50,2
106,Notebook,1.00,75,3
107,Ball Pen,0.50,200,3
108,Charger,20.00,12,1
109,Sugar (2kg),3.50,25,2
110,Stapler,2.00,15,3

## üîç Query 3: List all products with category names

In [7]:
SELECT 
    P.ProductID,
    P.ProductName,
    P.Price,
    P.Quantity,
    C.CategoryName
FROM Products P
JOIN Categories C ON P.CategoryID = C.CategoryID;

ProductID,ProductName,Price,Quantity,CategoryName
101,Laptop,1200.00,5,Electronics
102,Smartphone,850.00,8,Electronics
103,LED Bulb,2.50,100,Groceries
104,Rice (5kg),15.00,20,Groceries
105,Milk Pack,1.20,50,Groceries
106,Notebook,1.00,75,Stationery
107,Ball Pen,0.50,200,Stationery
108,Charger,20.00,12,Electronics
109,Sugar (2kg),3.50,25,Groceries
110,Stapler,2.00,15,Stationery

## üîç Query 4. List all products in the 'Electronics' category

In [8]:
SELECT 
    ProductName, Price, Quantity
FROM Products
WHERE CategoryID = 1;

ProductName,Price,Quantity
Laptop,1200.00,5
Smartphone,850.00,8
Charger,20.00,12

## üîç Query 5. Show products with quantity less than 20 (Low stock)

In [9]:
SELECT 
    ProductName, Quantity
FROM  Products
WHERE Quantity <20

ProductName,Quantity
Laptop,5
Smartphone,8
Charger,12
Stapler,15

## üîç Query 6¬†Calculate total number of products in inventory

In [10]:
SELECT COUNT(*) AS TotalProducts FROM dbo.Products;

TotalProducts
10

## üîç Query 7. Calculate total inventory stock (sum of quantities)

In [11]:
SELECT SUM(Quantity) AS TotalUnitsInStock FROM Products;

TotalUnitsInStock
510

## üîç Query 8. Calculate total inventory value (Price √ó Quantity)

In [12]:
SELECT 
    SUM(Price * Quantity) AS TotalInventoryValue
FROM Products;

TotalInventoryValue
13942.50

## üîç Qurey¬† 9. Show average price of all products

In [13]:
SELECT AVG(Price) AS AverageProductPrice FROM Products;

AverageProductPrice
209.570000

## üîç Query¬†10. Show the most expensive product

In [14]:
SELECT TOP 1 *
FROM Products
ORDER BY Price DESC;

ProductID,ProductName,Price,Quantity,CategoryID
101,Laptop,1200.00,5,1

## üîç Qurey 11. Show products grouped by category with total quantity per category

In [15]:
SELECT 
    C.CategoryName,
    SUM(P.Quantity) AS TotalUnits
FROM Products P
JOIN Categories C ON P.CategoryID = C.CategoryID
GROUP BY C.CategoryName;

CategoryName,TotalUnits
Electronics,25
Groceries,195
Stationery,290

## üîç¬†12. Show how many products are in each category

In [16]:
SELECT 
    C.CategoryName,
    COUNT(P.ProductID) AS NumberOfProducts
FROM Products P
JOIN Categories C ON P.CategoryID = C.CategoryID
GROUP BY C.CategoryName;

CategoryName,NumberOfProducts
Electronics,3
Groceries,4
Stationery,3

## üîç¬†13. Show the cheapest product in each category

In [17]:
SELECT 
    C.CategoryName,
    MIN(P.Price) AS CheapestPrice
FROM Products P
JOIN Categories C ON P.CategoryID = C.CategoryID
GROUP BY C.CategoryName;

CategoryName,CheapestPrice
Electronics,20.00
Groceries,1.20
Stationery,0.50

üîç¬†14. Show only the products that are out of stock (quantity = 0)

In [18]:
SELECT 
    ProductName
FROM Products
WHERE Quantity = 0;

## üîç¬†15. Show top 3 most expensive products

In [19]:
SELECT TOP 3 
    ProductName, Price
FROM Products
ORDER BY Price DESC;

ProductName,Price
Laptop,1200.00
Smartphone,850.00
Charger,20.00

## üîç 16. Show all products with total value (Price √ó Quantity) per product

In [20]:
SELECT 
    ProductID,
    ProductName,
    Price,
    Quantity,
    (Price * Quantity) AS TotalValue
FROM Products;

ProductID,ProductName,Price,Quantity,TotalValue
101,Laptop,1200.00,5,6000.00
102,Smartphone,850.00,8,6800.00
103,LED Bulb,2.50,100,250.00
104,Rice (5kg),15.00,20,300.00
105,Milk Pack,1.20,50,60.00
106,Notebook,1.00,75,75.00
107,Ball Pen,0.50,200,100.00
108,Charger,20.00,12,240.00
109,Sugar (2kg),3.50,25,87.50
110,Stapler,2.00,15,30.00

## üîç 17. List categories that have more than 2 products

In [21]:
SELECT 
    C.CategoryName,
    COUNT(P.ProductID) AS ProductCount
FROM Products P
JOIN Categories C ON P.CategoryID = C.CategoryID
GROUP BY C.CategoryName
HAVING COUNT(P.ProductID) > 2;

CategoryName,ProductCount
Electronics,3
Groceries,4
Stationery,3

## üîç 18. Find the category with the highest total inventory value

In [22]:
SELECT TOP 1 
    C.CategoryName,
    SUM(P.Price * P.Quantity) AS InventoryValue
FROM Products P
JOIN Categories C ON P.CategoryID = C.CategoryID
GROUP BY C.CategoryName
ORDER BY InventoryValue DESC;

CategoryName,InventoryValue
Electronics,13040.00

## üîç 19. Show all products sorted alphabetically (A‚ÄìZ)

In [23]:
SELECT 
    ProductName,
    Price,
    Quantity
FROM Products
ORDER BY ProductName ASC;

ProductName,Price,Quantity
Ball Pen,0.50,200
Charger,20.00,12
Laptop,1200.00,5
LED Bulb,2.50,100
Milk Pack,1.20,50
Notebook,1.00,75
Rice (5kg),15.00,20
Smartphone,850.00,8
Stapler,2.00,15
Sugar (2kg),3.50,25

## üîç 20. Show products that cost more than the average price

In [24]:
SELECT 
    ProductName,
    Price
FROM Products
WHERE Price > (SELECT AVG(Price) FROM Products);

ProductName,Price
Laptop,1200.00
Smartphone,850.00