 # ðŸ”° Lesson 1: Python Print Statement aur Comments

## Python print() Function   Use to display output

# Lesson 1: Basic Syntax and Print

## ðŸ“˜ Syntax Rules:
- No semicolon needed
- Indentation matters
- Use `print()` to display output

## ðŸ§ª Examples:

**Code Cell 1: Hello World**

In [2]:
print ("Assalam Alaykum")

: Msg 128, Level 15, State 1, Line 1
The name "Assalam Alaykum" is not permitted in this context. Valid expressions are constants, constant expressions, and (in some contexts) variables. Column names are not permitted.

In [2]:
print("Hello from Python in Azure Data Studio!")

Hello from Python in Azure Data Studio!

In [3]:
("Hello my name is moin ")

'Hello my name is moin '

***ðŸ”¹ Code Cell 2: Multiple Lines***

In [5]:
print("Learning Python is easy.")
print("What is your name?")

Learning Python is easy.
What is your name?

### ðŸ”¹ Code Cell 3: Escape Characters

In [7]:
print("Yeh \"Python\" ka lesson hai.")
print("Line1\nLine2")

Yeh "Python" ka lesson hai.
Line1
Line2

In [9]:
print("She said: \"Hello!\"")
print('It\'s a beautiful day!')
print("Line1\nLine2")       # \n = new line

She said: "Hello!"
It's a beautiful day!
Line1
Line2

In [11]:
print ("Hello Friend: \"We Love Python\"")

Hello Friend: "We Love Python"

In [64]:
print("My Name is Syed \n I am learning python ")

My Name is Syed
 I am learning python

# Lesson 2: Variables & Data Types in Python

### ðŸ”¹ 1. What is a Variable?

####   Variables are containers for storing data values.

 ðŸ”¸ Code Cell 1: Basic Variable Examples

In [55]:
#  Variables in python
a = 123456  # integer number 
print(a)

123456

In [45]:
b = 1.1357101 # decimal number
print(b)

1.1357101

In [50]:
c = "My Name is Syed ""I am learning python "  # word/sentence- use quotes
print(c)

My Name is Syed I am learning python

In [51]:
Rani = 26  # declare a varibale using varibale 
d = Rani
print(d)

26

In [53]:
x = 10     # adding a number to a variable 
print(x+51)

61

In [57]:
a,b,c = 11,12,13  # assign multiple varibales
print(a,b,c) 
print(a)
print(b)
print(c)

11 12 13
11
12
13

In [59]:
# rules to declare a varibales 
# 1. varibale name must start with: letter or _ 
_my_name = "Rashika"
print(_my_name)
# _my_name = "Rashika"

Rashika

In [63]:
# 2. Varibale name can contain: letter, numbers, underscore (_)
my_name1 = "My name is Syed \n"   "I am from Hyderabad"
r1 = 26 
_1 = 1
print(my_name1)
print(r1)
print(_1)

My name is Syed
I am from Hyderabad
26
1

In [82]:
# 3. Variables are case sensitive 
myname = "Monica "
print(myName)

NameError: name 'myName' is not defined

In [47]:
name = 'Ahemad'
age = 35
height = 5.8
is_student = True

ðŸ”¸ Code Cell 2: Print various variables

In [48]:
print('Name:',name)
print('Age:', age)
print('Height',height)
print('Student', is_student)

Name: Ahemad
Age: 35
Height 5.8
Student True

### Python Variables and Data Types â€” With Examples

In [77]:
my_name = "Syed Moin"
my_age = 45
my_salary = 120000.50
is_married = True

print("Name:", my_name)
print("Age:", my_age)
print("Salary:", my_salary)
print("Married:", is_married)

Name: Syed Moin
Age: 45
Salary: 120000.5
Married: True

ðŸ”¸ Code Cell 3: Perform a type check

In [78]:
print(type(my_name))
print(type(my_age))
print(type(my_salary))
print(type(is_married))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [79]:
employee_name = 'Zain Arshad'
employee_id = 205
monthly_salary =35000
is_permanent = False

print ('EmployeeName' , employee_name)
print('EmployeeID' ,employee_id)
print('MonthlySalary',monthly_salary)
print('Permanent' , is_permanent)

EmployeeName Zain Arshad
EmployeeID 205
MonthlySalary 35000
Permanent False

In [80]:
print (type(employee_name) )
print(type(employee_id))
print(type(monthly_salary))
print(type(is_permanent) )

<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>