# üë®‚Äçüíº Employee Records Analysis

This notebook contains basic and intermediate SQL queries based on the `EmployeeRecordsDB` database.

---

## 1Ô∏è‚É£ View All Employees

In [3]:
SELECT * FROM INFORMATION_SCHEMA.TABLES;

TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,TABLE_TYPE
EmployeesDB,dbo,Departments,BASE TABLE
EmployeesDB,dbo,Employees,BASE TABLE
EmployeesDB,dbo,Salaries,BASE TABLE
EmployeesDB,dbo,JobTitles,BASE TABLE

In [1]:
SELECT * FROM Employees;

EmployeeID,FirstName,LastName,Gender,DateOfBirth,HireDate,DepartmentID
101,Ali,Khan,M,1990-03-15,2015-06-01,3
102,Sara,Ahmed,F,1988-07-20,2016-03-10,1
103,Omar,Zaid,M,1992-11-05,2018-01-25,5
104,Nadia,Rashid,F,1995-04-10,2019-08-15,2
105,Imran,Qureshi,M,1985-01-30,2010-09-01,3
106,Fatima,Syed,F,1991-10-12,2017-05-20,4
107,Adeel,Shaikh,M,1987-09-09,2012-11-01,2
108,Mehwish,Ali,F,1993-02-18,2020-02-10,1
109,Bilal,Ansari,M,1994-12-01,2021-03-15,5
110,Hira,Zaman,F,1996-06-07,2022-06-01,4
111,Yasir,Iqbal,M,1990-05-21,2016-07-15,1
112,Zainab,Mir,F,1989-08-13,2014-01-01,3
113,Tariq,Naeem,M,1986-03-22,2009-10-25,5
114,Amna,Farooq,F,1997-09-15,2023-01-10,2
115,Waleed,Jafri,M,1991-12-25,2018-05-05,4

## 2Ô∏è‚É£ View All Departments

In [2]:
SELECT * FROM Departments;

DepartmentID,DepartmentName
1,Human Resources
2,Finance
3,IT
4,Marketing
5,Sales

## 3Ô∏è‚É£ View All Designations

In [1]:
SELECT * FROM Designations;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'Designations'.

## 4Ô∏è‚É£ View All Salaries

In [5]:
SELECT * FROM Salaries;

SalaryID,EmployeeID,BasicSalary,Bonus,EffectiveFrom
1,101,70000.00,5000.00,2023-01-01
2,102,65000.00,4500.00,2023-01-01
3,103,55000.00,3000.00,2023-01-01
4,104,60000.00,3500.00,2023-01-01
5,105,80000.00,6000.00,2023-01-01
6,106,62000.00,4000.00,2023-01-01
7,107,75000.00,5500.00,2023-01-01
8,108,58000.00,3200.00,2023-01-01
9,109,50000.00,2000.00,2023-01-01
10,110,52000.00,2200.00,2023-01-01
11,111,67000.00,4700.00,2023-01-01
12,112,72000.00,5100.00,2023-01-01
13,113,83000.00,6500.00,2023-01-01
14,114,49000.00,1800.00,2023-01-01
15,115,61000.00,3600.00,2023-01-01

## 5Ô∏è‚É£ List Employee Names with Their Department Names (JOIN)

In [2]:
SELECT 
    E.EmployeeID, E.FirstName, E.LastName, D.DepartmentName
FROM Employees E
JOIN Departments D ON E.DepartmentID = D.DepartmentID;

EmployeeID,FirstName,LastName,DepartmentName
101,Ali,Khan,IT
102,Sara,Ahmed,Human Resources
103,Omar,Zaid,Sales
104,Nadia,Rashid,Finance
105,Imran,Qureshi,IT
106,Fatima,Syed,Marketing
107,Adeel,Shaikh,Finance
108,Mehwish,Ali,Human Resources
109,Bilal,Ansari,Sales
110,Hira,Zaman,Marketing
111,Yasir,Iqbal,Human Resources
112,Zainab,Mir,IT
113,Tariq,Naeem,Sales
114,Amna,Farooq,Finance
115,Waleed,Jafri,Marketing

## 6Ô∏è‚É£ List Employee Names with Their Designations

In [6]:
SELECT 
    E.EmployeeID, E.FirstName, E.LastName, DS.DesignationTitle
FROM Employees E
JOIN Designations DS ON E.DesignationID = DS.DesignationID;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'Designations'.

## 7Ô∏è‚É£ List Employees with Their Salaries

In [7]:
SELECT 
    E.FirstName + ' ' + E.LastName AS FullName,
    S.BasicSalary, S.Allowance, S.Deductions, 
    (S.BasicSalary + S.Allowance - S.Deductions) AS NetPay
FROM Employees E
JOIN Salaries S ON E.EmployeeID = S.EmployeeID;

: Msg 207, Level 16, State 1, Line 3
Invalid column name 'Allowance'.

: Msg 207, Level 16, State 1, Line 3
Invalid column name 'Deductions'.

: Msg 207, Level 16, State 1, Line 4
Invalid column name 'Allowance'.

: Msg 207, Level 16, State 1, Line 4
Invalid column name 'Deductions'.

## 8Ô∏è‚É£ Employees with Salary Above 50000

In [ ]:
SELECT 
    E.FirstName, E.LastName, S.BasicSalary
FROM Employees E
JOIN Salaries S ON E.EmployeeID = S.EmployeeID
WHERE S.BasicSalary > 50000;

## 9Ô∏è‚É£ Count of Employees in Each Department

In [ ]:
SELECT 
    D.DepartmentName, COUNT(*) AS EmployeeCount
FROM Employees E
JOIN Departments D ON E.DepartmentID = D.DepartmentID
GROUP BY D.DepartmentName;

## üîü Average Salary by Designation

In [ ]:
SELECT 
    D.DesignationTitle, AVG(S.BasicSalary) AS AverageSalary
FROM Employees E
JOIN Salaries S ON E.EmployeeID = S.EmployeeID
JOIN Designations D ON E.DesignationID = D.DesignationID
GROUP BY D.DesignationTitle;

## 1Ô∏è‚É£1Ô∏è‚É£ Highest Earning Employee

In [ ]:
SELECT TOP 1
    E.FirstName, E.LastName,
    (S.BasicSalary + S.Allowance - S.Deductions) AS NetPay
FROM Employees E
JOIN Salaries S ON E.EmployeeID = S.EmployeeID
ORDER BY NetPay DESC;

## 1Ô∏è‚É£2Ô∏è‚É£ Employees Without Any Allowance

In [ ]:
SELECT 
    E.FirstName, E.LastName
FROM Employees E
JOIN Salaries S ON E.EmployeeID = S.EmployeeID
WHERE S.Allowance = 0;

## 1Ô∏è‚É£3Ô∏è‚É£ Employees with Deductions > 1000

In [ ]:
SELECT 
    E.FirstName, E.LastName, S.Deductions
FROM Employees E
JOIN Salaries S ON E.EmployeeID = S.EmployeeID
WHERE S.Deductions > 1000;

## 1Ô∏è‚É£4Ô∏è‚É£ Net Salary of Each Employee

In [ ]:
SELECT 
    E.EmployeeID,
    E.FirstName + ' ' + E.LastName AS FullName,
    (S.BasicSalary + S.Allowance - S.Deductions) AS NetSalary
FROM Employees E
JOIN Salaries S ON E.EmployeeID = S.EmployeeID;

## 1Ô∏è‚É£5Ô∏è‚É£ Employees Ordered by Net Salary Descending

In [ ]:
SELECT 
    E.EmployeeID,
    E.FirstName + ' ' + E.LastName AS FullName,
    (S.BasicSalary + S.Allowance - S.Deductions) AS NetSalary
FROM Employees E
JOIN Salaries S ON E.EmployeeID = S.EmployeeID
ORDER BY NetSalary DESC;

## 1Ô∏è‚É£6Ô∏è‚É£ Employees with Designation and Department

In [ ]:
SELECT 
    E.FirstName + ' ' + E.LastName AS FullName,
    D.DepartmentName,
    DS.DesignationTitle
FROM Employees E
JOIN Departments D ON E.DepartmentID = D.DepartmentID
JOIN Designations DS ON E.DesignationID = DS.DesignationID;